
  body {
    width: 60%;
    margin: 50px auto;
    padding: 15px;
    position: relative; 
    border: 7px solid #cecece;
    border: 7px solid rgba(0,0,0,.05);
    background: #fff;
    background-clip: padding-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  }

  h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 22px;
  }

  p {
        font-size: 18px;
  }

.lottoPicks {color: black;}

.guessField1, .guessField2, .guessField3, .guessField4, .guessField5{

    width: 40px;
  height: 20px;
  border: 1px solid black;

}



